<div class="grid">
  <div class="col-12">
    <div class="flex justify-content-center align-content-center text-align-center">

      <!--LOGIN FORM-->
      <div *ngIf="loginCard">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
          <p-card styleClass="mt-10 p-5" header="Login" subheader="Faça login para continuar">
            <div class="flex justify-content-center align-content-center text-align-center">
              <input type="email" pInputText placeholder="Email" formControlName="email">
            </div>

            <div class="flex justify-content-center align-content-center text-align-center mt-3">
              <input type="password" pInputText placeholder="Senha" formControlName="password">
            </div>

            <div class="card flex justify-content-center mt-3 mb-3">
              <button type="submit" pButton pRipple label="Login" [disabled]="!this.loginForm.valid"></button>
            </div>

            <span
              class="flex justify-content-center pb-3 text-red align-content-center text-align-center mt-3 text-red-600 font-semibold"
              (click)="loginCard = false" style="cursor: pointer;"> Criar Conta</span>
          </p-card>
        </form>

      </div>
      <!-- Create Account -->
      <div *ngIf="!loginCard">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignupForm()">
          <p-card styleClass="mt-10 p-5" header="Criar Conta" subheader="Crie já sua conta gratuitamente">

            <div class="flex justify-content-center align-content-center text-align-center mt-3">
              <input type="text" pInputText placeholder="Nome" formControlName="name">
            </div>

            <div class="flex justify-content-center align-content-center text-align-center mt-3">
              <input type="text" pInputText placeholder="Sobrenome" formControlName="lastName">
            </div>

            <div class="flex justify-content-center align-content-center text-align-center mt-3">
              <input type="number" pInputText placeholder="CPF" formControlName="cpf">
            </div>

            <div class="flex justify-content-center align-content-center text-align-center mt-3">
              <input type="email" pInputText placeholder="Email" formControlName="email">
            </div>

            <div class="flex justify-content-center align-content-center text-align-center mt-3">
              <input type="text" pInputText placeholder="Telefone" formControlName="phone">
            </div>

            <div class="flex justify-content-center align-content-center text-align-center mt-3">
              <input type="text" pInputText placeholder="Foto" formControlName="photo">
            </div>

            <div class="flex justify-content-center align-content-center text-align-center mt-3">
              <input type="password" pInputText placeholder="Senha" formControlName="password">
            </div>

            <div class="flex justify-content-center align-content-center text-align-center mt-3">
              <input type="password" pInputText placeholder="Confirme sua senha" formControlName="confirmPassword">
            </div>

            <div class="card flex justify-content-center mt-3">
              <button type="submit" pButton pRipple label="Criar conta" [disabled]="!this.signupForm.valid"></button>
            </div>

            <span
              class="flex justify-content-center align-content-center text-align-center mt-3 pb-3 text-red font-semibold"
              (click)="loginCard = true" style="cursor: pointer;"> Fazer Login</span>
          </p-card>
        </form>
      </div>
    </div>
  </div>
</div>
