<div class="grid">
  <div class="col-12">

    <div class="flex flex-column">


      <div class="flex justify-content-center mb-4 mt-4">
        <img src="../../../assets/logo.png" alt="StarBank Logo" class="w-20rem h-20rem" />
      </div>

      <app-assetsbar></app-assetsbar>

      <div class="col-6 card">
        <h1 class="text-4xl font-bold mb-4">Seja Bem-vindo ao StarBank!</h1>

        <p>
          Bem-vindo ao StarBank, onde exclusividade, rentabilidade e inovação se encontram. Mais do que um banco, somos
          um ecossistema financeiro de alto padrão, projetado para atender clientes exigentes que buscam multiplicar seu
          patrimônio com segurança e sofisticação.

          No StarBank, oferecemos acesso privilegiado a uma curadoria de investimentos premium: criptomoedas de alta
          valorização, ações das maiores bolsas do mundo e uma seleta carteira de imóveis de luxo — tudo integrado em
          uma plataforma digital intuitiva, segura e elegante.

          Descubra uma nova forma de investir, com o respaldo de uma instituição sólida, lucrativa e preparada para o
          futuro.
          StarBank. Seu patrimônio, em outro nível.
        </p>
      </div>

      <div class="col-6">

      </div>

    </div>
  </div>
</div>
