.grid {
  background-image: url("../../../assets/starbank.jpeg") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vmin;
}


/* .grid {
  background-image: url("../../../assets/starbank.jpeg") !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  height: 100vmin;
  width: 100vw;
} */


.margim-bottom-3{
  margin-bottom: 3rem !important;
}

@media screen and (min-width: 1400px) {
  .grid {
    background-position: top;
  }
}

@media screen and (max-width: 1000px) {
  .grid {
    height: 100vmax;
  }
}

.neon-text-button {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  color: rgb(211, 137, 0) !important; /* cor normal */
  transition: all 0.3s ease;
  text-align: center;
  padding: 2px 4px;
  border-radius: 6px;
}

/* Efeito neon oco ao passar o mouse */
.neon-text-button:hover {
  color: transparent; /* deixa o interior da letra "vazio" */
  -webkit-text-stroke: 1px #0B1C2C; /* contorno da letra */
  text-shadow:
    0 0 4px #0B1C2C,
    0 0 8px #0B1C2C,
    0 0 12px #0B1C2C;
}
